In [23]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [16]:
#read all the data files into python from a zip file
def read_files(zip_file,file_name):
  import pandas as pd
  from zipfile import ZipFile, ZIP_DEFLATED
  #Zip file
  zf= ZipFile(zip_file)
  #read desired Data file into python
  df = pd.read_csv(zf.open(file_name))
  #save the data file into python
  return df

Transcations_df= read_files("transactions_train.csv.zip",'transactions_train.csv')

In [40]:
def intial_transformation(df, drop_columns):
  # check for number of NaN values and number of duplicates in dataset
  Num_NaN = df.isna().sum()
  Num_Dups = df.duplicated().sum()
  # display number of NaNs and duplicates
  print("Number of NaN:","\n", f"{Num_NaN}","\n")
  print(f"Number of Duplicates: {Num_Dups}","\n")

  #drop duplicates and NaN (if none skip)
  if Num_NaN.sum()!=0:
    df = df.dropna()
  if Num_Dups!=0:
    df = df.drop_duplicates()

  #drop columns that are not being used
  df = df.drop(drop_columns, axis=1)

  #find new shape and see first 5 rows
  print(f"{df.shape}","\n")
  print(df.head(5))

  return df

Transcations_df = intial_transformation(Transcations_df, ["nameOrig","nameDest"])

Number of NaN:
 step              0
type              0
amount            0
nameOrig          0
oldbalanceOrig    0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
dtype: int64

Number of Duplicates: 0

(6351193, 8)

   step      type    amount  oldbalanceOrig  newbalanceOrig  oldbalanceDest  \
0     1   PAYMENT   9839.64        170136.0       160296.36             0.0
1     1   PAYMENT   1864.28         21249.0        19384.72             0.0
2     1  TRANSFER    181.00           181.0            0.00             0.0
3     1  CASH_OUT    181.00           181.0            0.00         21182.0
4     1   PAYMENT  11668.14         41554.0        29885.86             0.0

   newbalanceDest  isFraud
0             0.0        0
1             0.0        0
2             0.0        1
3             0.0        1
4             0.0        0